---
import {
  todayDay,
  todayMonth,
  todayYear,
  months,
  daysInMonthArray,
} from "../utils/date";
import Select from "./Select.astro";
const days = daysInMonthArray(todayMonth, todayYear);
const years = [todayYear - 1, todayYear, todayYear + 1];
---

<div class="flex items-center gap-1 rounded-xl bg-primary-content p-2 sm:gap-2">
  <Select id="day-picker">
    {
      days.map((day) => {
        if (day === todayDay)
          return (
            <option value={day} selected>
              {day}
            </option>
          );
        return <option value={day}>{day}</option>;
      })
    }
  </Select>
  <Select id="month-picker">
    {
      months.map((month, i) => {
        if (i === todayMonth)
          return (
            <option value={i} selected>
              {month}
            </option>
          );
        return <option value={i}>{month}</option>;
      })
    }
  </Select>
  <Select id="year-picker">
    {
      years.map((year) => {
        if (year === todayYear)
          return (
            <option value={year} selected>
              {year}
            </option>
          );
        return <option value={year}>{year}</option>;
      })
    }
  </Select>
  <div class="divider divider-primary divider-horizontal"></div>
  <button class="btn btn-accent btn-sm">Calendar</button>
  <button class="btn btn-primary btn-sm">Today</button>
</div>

<script>
  import { daysInMonthArray } from "../utils/date";
  const yearPicker = document.getElementById("year-picker")!;
  const monthPicker = document.getElementById("month-picker")!;
  const dayPicker = document.getElementById("day-picker")!;

  function changeDayPicker() {
    const selectedDay = (dayPicker as HTMLSelectElement).value;
    const selectedMonth = (monthPicker as HTMLSelectElement).value;
    const selectedYear = (yearPicker as HTMLSelectElement).value;
    const days = daysInMonthArray(+selectedMonth, +selectedYear);
    dayPicker.innerHTML = days
      .map((day) => {
        if (day === +selectedDay)
          return `<option value="${day}" selected>${day}</option>`;
        return `<option value="${day}">${day}</option>`;
      })
      .join("");
  }

  [yearPicker, monthPicker].forEach((picker) =>
    picker.addEventListener("change", () => changeDayPicker()),
  );
</script>
