---
import {
  todayDay,
  todayMonth,
  todayYear,
  months,
  daysInMonthArray,
} from "../utils/date";
import Select from "./Select.astro";
const days = daysInMonthArray(todayMonth, todayYear);
const years = [todayYear - 1, todayYear, todayYear + 1];
---

<div class="flex w-full flex-col gap-1 rounded-xl md:gap-0 lg:flex-row">
  <div class="flex flex-nowrap gap-1 md:gap-2">
    <Select id="day-picker" ariaLabel="Day select dropdown">
      {
        days.map((day) => {
          if (day === todayDay)
            return (
              <option value={day} selected>
                {day}
              </option>
            );
          return <option value={day}>{day}</option>;
        })
      }
    </Select>
    <Select id="month-picker" ariaLabel="Month select dropdown">
      {
        months.map((month, i) => {
          if (i === todayMonth)
            return (
              <option value={i} selected>
                {month}
              </option>
            );
          return <option value={i}>{month}</option>;
        })
      }
    </Select>
    <Select id="year-picker" ariaLabel="Year select dropdown">
      {
        years.map((year) => {
          if (year === todayYear)
            return (
              <option value={year} selected>
                {year}
              </option>
            );
          return <option value={year}>{year}</option>;
        })
      }
    </Select>
  </div>
  <div class="divider my-0 lg:divider-horizontal"></div>
  <div class="flex gap-1 md:gap-2 lg:self-center">
    <button class="btn btn-outline btn-accent btn-sm">🗓️</button>
    <button id="today-button" class="btn btn-outline btn-primary btn-sm"
      >Today</button
    >
  </div>
</div>

<script>
  import { daysInMonthArray } from "../utils/date";
  const yearPicker = document.getElementById("year-picker")!;
  const monthPicker = document.getElementById("month-picker")!;
  const dayPicker = document.getElementById("day-picker")!;

  function setToday() {
    const today = new Date();
    const day = today.getDate();
    const month = today.getMonth();
    const year = today.getFullYear();
    (dayPicker as HTMLSelectElement).value = day.toString();
    (monthPicker as HTMLSelectElement).value = month.toString();
    (yearPicker as HTMLSelectElement).value = year.toString();
  }

  function changeDayPicker() {
    const selectedDay = (dayPicker as HTMLSelectElement).value;
    const selectedMonth = (monthPicker as HTMLSelectElement).value;
    const selectedYear = (yearPicker as HTMLSelectElement).value;
    const days = daysInMonthArray(+selectedMonth, +selectedYear);
    dayPicker.innerHTML = days
      .map((day) => {
        if (day === +selectedDay)
          return `<option value="${day}" selected>${day}</option>`;
        return `<option value="${day}">${day}</option>`;
      })
      .join("");
  }

  [yearPicker, monthPicker].forEach((picker) =>
    picker.addEventListener("change", () => changeDayPicker()),
  );

  document.getElementById("today-button")!.addEventListener("click", setToday);
</script>
